@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  pointer-events: none;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  text-align: center;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/** {*/
/*  box-sizing: border-box;*/
/*}*/
