@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


/* ┈┈┄┄┄────┬───────────────────┬────┄┄┄┈┈ */
/*          │ Production Styles │          */
/* ┈┈┄┄┄────┴───────────────────┴────┄┄┄┈┈ */

@keyframes identify {
  from {
    box-shadow: -10px -10px #BBB;
    top: calc(50vh - 54px);
    margin-left: 79px;
    margin-right: 59px;
  }
  to {
    box-shadow: 10px 10px #BBB;
    top: calc(50vh - 74px);
    margin-left: 59px;
    margin-right: 79px;
  }
}

.mainContainer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  justify-content: center;
  background-color: #000;
  overflow: hidden;
}

.mainContainer > div {
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.mainContainer > div > div {
  position: relative;
  box-sizing: border-box;
  height: 128px;
  min-width: 366px;
  max-width: calc(100vw - 138px);
  top: calc(50vh - 64px);
  padding: 30px 30px;
  margin: auto;
  color: #FFF;
  background-color: #000;
  animation: identify 0.5s alternate infinite;
}

.mainContainer > div > div > a {
  display: block;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  color: inherit;
  text-decoration: none;
  pointer-events: auto;
  padding: 24px;
}

.mainContainer > div > div > a:hover {
  color: #000;
  background-color: #FFF;
}

.mainContainer > div > div > a > span {
  margin: auto;
  justify-self: center;
}

.footerWrapper {
  position: relative;
  bottom: 30px;
  margin: auto;
  font-size: 12px;
}

.footerWrapper > a {
  text-decoration: none;
  color: #1A1A1A;
  pointer-events: auto;
}


/* ┈┈┄┄┄────┬────────────────────┬────┄┄┄┈┈ */
/*          │ Development Styles │          */
/* ┈┈┄┄┄────┴────────────────────┴────┄┄┄┈┈ */

@keyframes identifyDevelopment {
  from {
    box-shadow: -10px -10px #FFF;
    top: calc(50vh - 54px);
    margin-left: 79px;
    margin-right: 59px;
  }
  to {
    box-shadow: 10px 10px #FFF;
    top: calc(50vh - 74px);
    margin-left: 59px;
    margin-right: 79px;
  }
}

.mainContainer.development {
  background-color: #FFF;
}

.mainContainer.development > div {
  background: rgb(238,174,202);
  background: linear-gradient(135deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.mainContainer.development > div > div {
  animation: identifyDevelopment 0.5s alternate infinite;
}